.sidePanelWrapper{
    width: 25%;
}
.hotDealsWrapper , .pricesWrapper, .brandWrapper , .moreWrapper{
    color: black;
    background-color: #F6F7F8;
    border-radius: 10px;
    padding: 28px 25px;
    text-align: left;
    margin-bottom: 24px;
    .hotDealsTitle, .pricesTitle, .brandTitle, .moreTitle{
        font-family: Poppins;
        h2{
            font-weight: 500;
            font-size: 20px;
        }
    }
    .hotDealsList, .brandList{
        font-family: Proxima Nova;
        .hotDealItem, .brandItem{
            cursor: pointer;
            display: flex;
            justify-content: space-between;
        }
    }
    .priceRange{
        font-family: Proxima Nova;
        display: flex;
        justify-content: space-between;
    }
    .priceSlider{
        div{
            div:nth-child(2){
                margin-top: -22px;
            }
        }
    }
    .moreTitle{
        cursor: pointer;
        h2{
            margin: 0;
        }
    }
}
.moreWrapper{
    text-align: center !important;
    padding-top: 20px;
    padding-bottom: 20px;
}